<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <img class="avatar" src="/assets/img/me.jpg" alt="Nathaniel Tjandra">
      </div>

      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">Nathaniel Tjandra</h2>
          <!-- _blank opens the link in a new tab/page. -->
          <a href="https://www.linkedin.com/in/nathaniel-tjandra/" target="_blank" > Visit LinkedIn </a>
          </br>
          <a href="mailto:tjandranathaniel@gmail.com" title="Contact Me"> Email me </a>
          </br>
          <a href="https://www.medium.com/in/nathaniel-tjandra/" target="_blank" > Medium Blogs </a>
          </br>
          Hosted on <a target="_blank" href="https://github.com/ntjandra/ntjandra.github.io">Github</a>.
          </br>
        <p class="footer-site"> Sitemap |
        {% for item in site.data.navigation %}
          <a class="{% if page.url == item.link %} active {% endif %}" href="{{ item.link }}">{{ item.name }}</a> |
        {% endfor %}
        </p>
      </div>
    </div>
  </div>
</footer>