<div class="timeline">
  <h2> {{ label }} Timeline </h2>
  <ul>
      <h3> {{ site.time | date: "%Y" }} </h3>
      <!-- history is created by the caller -->
      {% for job in history %}
      <li>
        <span> {{ job.start | date: "%b %Y" }} - {{ job.end | date: "%b %Y" | default: "Present"}} </span>
        <a class="{% if page.url == job.link %} active {% endif %} noline" href="{{ job.url }}">
          <div class="{% if page.url == job.link %} active {% endif %}">{{ job.title }} at {{ job.place }}</div>
          <div class="content">
            <p> {{ job.content | strip_html | truncatewords:30 }} </p>
          </div>
        </a>
      </li>
      <h3> {{ job.start | date: "%Y" }} </h3>
    {% endfor %}
  </ul>
</div>