---
layout: default
---

<main class="container content">
  <!-- Title -->
  <div class="container mx-auto px-2 mt-4 mb-2 clearfix header-text">
    <h1 class="h0 inline-block py-2 mt-4 header-title">{{ page.title }}</h1>
    <div class="clearfix mb-4 py-1">
      <p class="h4 lh-condensed font-smoothing"> {{ content }} </p>
      <div class="col-1 sm-width-full border-top-thick"></div>
    </div>

    <!-- Populate timeline with data related to where this layout is used -->
    {% capture work_history %}
      {% assign history = site.pages | where: "layout", "work" | sort: 'start' | reverse %}
    {%endcapture%}
    {% include timeline.html history=work_history %}
  </div>
</main>