---
layout: default
---

<main class="container content">
  <!-- Title -->
  <div class="container mx-auto px-2 mt-4 mb-2 clearfix header-text">
    <h1 class="h0 inline-block py-2 mt-4 header-title"> Search results for {{ page.search-tag }}</h1>
      <div class="clearfix mb-4 py-1">
        <p class="h4 lh-condensed font-smoothing"> {{ content }} </p>
        <div class="col-1 sm-width-full border-top-thick"></div>
      </div>
    </div> 
  </div>

  <!-- Posts that match the search -->
  <div class="container mx-auto px-2 py-2">
    {% for post in site.posts %}
      {% if post.categories contains page.search-tag %}
        {% include post_block.html %}
      {% endif %}
    {% endfor %}
  </div>
</main>