---
layout: default
---

<article class="container mx-auto px-2">
  <div class="mt-4 mb-2 clearfix header-text">
    <h1 class="h0 inline-block py-2 mt-4 header-title">{{ page.title }}</h1>
  </div>

  <!-- Prose is used to generate toc -->
  <div class="prose py-4" itemprop="articleBody">
      {{ content }}
  </div>

<!-- TODO: Add Ticker component to display Company Logos as links. -->
<!-- <div class="container mx-auto px-2 py-2 clearfix">
  {% for page in site.data.projects %}
    <a href={{ page.link }}> {{ page.name }} </a>
  {% endfor %}
</div> -->

</article>
